<link rel="stylesheet" href="/css/entradasSalidas/detallelistaSalidas.css">
<form action="/entradaSalida/salidas/Lista/detalle/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="id">
                <label id="">N°</label>
                <input type="text" name="idRegistroSalidas" id="idRegistroSalidas" value="{{iddetalleRegistroSalidas}}" readonly>
            </div>
            <div id="nombre">
                <label id="">Producto:</label>
                <input type="text" name="NombreProducto" id="NombreProducto" value="{{NombreProducto}}" readonly>
            </div>
            <div id="salidaCantidades">
                <label id="">Cantidad de Venta:</label>
                <input type="text" name="salidaCantidad" id="salidaCantidad" value="{{salidaCantidad}}" readonly>
            </div>
            <div id="cantidadRestantes">
                <label id="">Cantidad Restante:</label>
                <input type="text" name="cantidadRestante" id="cantidadRestante" value="{{cantidadRestante}}" readonly>
            </div>
            <div id="fecha">
                <label id="">Fecha:</label>
                <input type="text" name="creacionRegistroSalidas" id="creacionRegistroSalidas" value="{{creacionRegistroEntradas}}" readonly>
            </div>
        </div>
        {{/each}}
    </div>
</div>