<link rel="stylesheet" href="/css/entradasSalidas/listaSalidas.css">
<form action="/entradaSalida/salidas/Lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="id">
                <label id="">N°:</label>
                <input type="text" name="idRegistroSalidas" id="idRegistroSalidas" value="{{idRegistroSalidas}}" readonly>
            </div>
            <div id="fecha">
                <label id="">Fecha Creacción:</label>
                <input type="text" name="creacionRegistroSalidas" id="creacionRegistroSalidas" value="{{creacionRegistroSalidas}}" readonly>
            </div>
            <div id="boton">
                <button id="detalles"><a href="/entradaSalida/salidas/Lista/detalle/{{idRegistroSalidas}}" id="detalle">Detalle</a></button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div>
    <button id="masProveedor"><a href="/entradaSalida/salidas/agregar/{{user.idUsuarios}}"><img src="/img/iconos/mas.png" id="mas"></a></button>
</div>