<link rel="stylesheet" href="/css/entradasSalidas/Salidas.css">
<form action="/entradaSalida/Salidas/agregar/{{user.idUsuarios}}" method="POST">
<div id="arriba">
    <div id="Salidas">
        <label>Salidas N° <input type="text" name="idregistros" id="idregistro" readonly></label>
    </div>
    <div id="fecha">
        <label>Fecha:</label>
        <input type="text" value="" name="fecha" id="fechas" readonly>
    </div>
    <div id="CODIGO">
        <label>Cód. Documento:</label>
        {{#each salidaLista}}
        <input type="text" value="{{'max(idRegistroSalidas)'}}" name="idRegistroSalidas" id="codigoDocumento" readonly>
        {{/each}}
    </div>
    <div id="Dtienda">
        <label>Tienda:</label>
        <select name="tienda" id="Tienda">
            {{#each listaTienda}}
            <option value="{{this.idTiendas}}">{{this.nombreNegocio}}</option>
            {{/each}}
        </select>
    </div>
    <div id="cliente">
        <label>Cliente:</label>
        <select name="clienteIdClientes" id="NombreProveedor">
            {{#each listaClientes}}
            <option value="{{this.idClientes}}">{{this.Nombres}}</option>
            {{/each}}
        </select>
    </div>
    <div id="boton">
        <button type="submit" id="RegistroGuardar">Guardar</button>
    </div>
</div>
    <div id="tabla">
        <table border="1">
            <tr id="columna">
                <td>N°</td>
                <td>Producto</td>
                <td>Unidad</td>
                <td>Cantidad de Venta</td>
                <td>Precio de Venta</td>
                <td>Cantidad de Unidad</td>
                <td>Cantidad Actual</td>
            </tr>
            <tr>
                {{#each listaProductos}}
                <td><input type="text" name="productoIdProductos" id="numero" value="{{idProductos}}" readonly></td>
                <td><input type="text" name="nombreProducto" id="NombreProducto" value="{{NombreProducto}}" readonly>
                </td>
                <td><input type="text" name="unidadMedida" id="UnidadMedida" value="{{unidadVeneta}}" readonly></td>
                <td><input type="text" name="salidaCantidad" id="Cantidad" value="{{Cantidad}}" readonly></td>
                <td><input type="text" name="Precio" id="precioActual" value="{{Precio}}" readonly></td>
                <td><input type="text" name="ventaCantidad" id="Cantidad" value="{{cantidadVenta}}" readonly></td>
                <td><input type="text" name="cantidadRestante" id="Cantidad" value="{{productoCantidad}}" readonly></td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>

<script src="/js/fecha.js"></script>