<link rel="stylesheet" href="/css/entradasSalidas/entradas.css">
<form action="/entradaSalida/entradas/agregar/{{user.idUsuarios}}" method="POST">
    <div id="contenedor">
        <p>Entradas N째 <input type="text" name="idRegistroEntradas" id="idregistro" readonly></p>
        <div id="FECHA">
            <label>Fecha:</label>
            <input type="text" value="" name="fecha" id="fechas" readonly>
        </div>
        <div id="CODIGO">
            <label>C처d. Documento:</label>
            {{#each entrasLista}}
            <input type="text" value="{{'max(idRegistroEntradas)'}}" name="idsa" id="codigoDocumento" readonly>
            {{/each}}
        </div>
        <div id="TIENDA">
            <label>Tienda:</label>
            {{#each listaTienda}}
            <input type="text" value="{{nombreNegocio}}" name="Tienda" id="Tienda" readonly>
            {{/each}}
        </div>
        <div id="CLIENTE">
            <label>Proveedor:</label>
            <select name="provedoreIdProvedores" id="NombreProveedor">
                {{#each listaProveedor}}
                <option value="{{this.idProvedores}}" readonly>{{this.NombreProveedor}}</option>
                {{/each}}
            </select>
        </div>
        <div id="RegistroGuardar">
            <div id="boton">
                <button type="submit">Guardar</button>
            </div>
        </div>
        <div id="boton">
            <button type="button" id="vermas" onclick="ver.cambio()">Ver Mas</button>
        </div>
        <div id="boton">
            <button type="button" id="x" onclick="ver.devuelta()">X</button>
        </div>
    </div>
    <div id="tabla">
        <table>
            <tr id="columna">
                <td>N째</td>
                <td>C처digo</td>
                <td>Producto</td>
                <td>Entrada</td>
                <td>Medida</td>
                <td>Precio Actual</td>
                <td>Cantidad Actual</td>
            </tr>
            <tr>
                {{#each listaProductos}}
                <td><input type="text" name="productoEntradaIdProductoEntradas" id="numero"
                        value="{{idProductoEntradas}}" readonly></td>
                <td><input type="text" name="codigoProducto" id="codigo" value="{{codigo}}" readonly></td>
                <td><input type="text" name="nombreProducto" id="NombreProducto" value="{{NombreProducto}}" readonly>
                </td>
                <td><input type="text" name="entraCantidad" id="Cantidad" value="{{CantidadTotal}}" readonly></td>
                <td><input type="text" name="unidadMedida" id="UnidadMedida" value="{{unidadMedida}}" readonly></td>
                <td><input type="text" name="precioActual" id="precioActual" value="{{precioTotal}}" readonly></td>
                <td><input type="text" name="cantidadRestante" id="Cantidad" value="{{productoCantidad}}" readonly>
            </tr>
            {{/each}}
        </table>
    </div>
</form>

<script src="/js/fecha.js"></script>
<script src="/js/vermas.js"></script>