<link rel="stylesheet" href="/css/entradasSalidas/lista.css">
<form action="/entradaSalida/entradas/Lista/{{user.idDueñoTienda}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="id">
                <label id="">N°{{idRegistroEntradas}}</label>
            </div>
            <div id="fecha">
                <label id="">Fecha de Creación:</label>
                <input type="text" name="creacionRegistroEntradas" value="{{creacionRegistroEntradas}}" readonly>
            </div>
            <div id="boton">
                <a href="/entradaSalida/entradas/Lista/detalle/{{idRegistroEntradas}}"><button
                        type="button">Detalle</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="masProveedor">
        <a href="/entradaSalida/entradas/agregar/{{user.idDueñoTienda}}">
            <div id="boton">
                <button type="button"><img src="/img/iconos/mas1.png" id="mas"></button>
            </div>
        </a>
    </div>
</div>