<link rel="stylesheet" href="/css/detalleProductos/detalleAgregar.css">
<form action="/detalleProducto/agregar/{{user.idUsuarios}}" method="post">
    <div id="contenido">
        <div id="numero">
            <p id="tit">Nuevo Producto N°</p>
            {{#each ids}}
            <input type="text" name="categoria" id="idproducto" readonly value="{{"max(idDetalleCategorias)"}}">
            {{/each}}
        </div>
        {{#each prodcuto}}
        <div id="PRODUCTOS">
            <label id="Productos">Producto:</label>
            <input type="text" name="" id="Producto" value="{{NombreProducto}}" readonly>
            <input type="text"  name="productos" id="productos" value="{{idProductoEntradas}}" readonly>
        </div>
        {{/each}}
        <div id="UnidadVenta">
            <label id="">Unidad de Venta:</label>
            <input type="text" name="unidadVeneta" id="unidadVeneta" required>
        </div>
        <div id="ProductoCantidad">
            <label id="">Cantidad Total:</label>
            {{#each listaDetalleUnidad}}
            <input type="text" name="productoCantidad" id="productoCantidad" value="{{cantidadMedida}}" readonly required>
            {{/each}}
        </div>
        <div id="CantidadVenta">
            <label id="">Cantidad Restante</label>
            {{#each listaDetalleUnidad}}
            <input type="text" name="cantidadVenta" id="cantidadVenta" value="{{cantidadMedida}}" readonly required>
            {{/each}}
        </div>
        <div id="precioUnidad">
            <label id="">Precio por Unidad:</label>
            {{#each listaCantidad}}
            <input type="text" id="precio" value="{{precioUnidad}}" readonly required>
             {{/each}}
        </div>
        <div id="PROSENTAJES">
            <label id="">Porcentaje Ganancia:</label>
            <select name="porsentaje" id="porsentaje" onclick="porsentajes.calculo()">
                {{#each porsentajes}}
                <option value="{{this.porcentaje}}">{{this.porcentaje}}%</option>
                {{/each}}
            </select>
        </div>
        <div id="Precioventa">
            <label>Precio Venta:</label>
            <input type="text" name="precioVenta" id="precioVenta" readonly required>
        </div>
        <div id="PrecioTotalVenta">
            <label>Precio Total de Venta:</label>
            <input type="text" name="precioTotalVenta" id="precioTotalVenta" readonly required>
        </div>
        <button type="submit" id="guardar">Guardar</button>
    </div>
</form>

<script src="/js/eleccionUnidad.js"></script>
<script src="/js/calculoPorsentajes.js"></script>