<link rel="stylesheet" href="">
<form action="/porcentajeIvaPresuntivo/lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="idPorcentaje">
                <p>{{idporcentajeIvaPresuntivo}}</p>
            </div>
            <div id="nombrePorcentaje">
                <p>{{nombrePorcentajeIvaPresuntivo}}</p>
            </div>
            <div id="codigoPorcentaje">
                <p>{{codigoPorcentajeIvaPresuntivo}}</p>
            </div>
            <div id="tipoPorcentaje">
                <p>{{tipoPorcentajeIvaPresuntivo}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>