<LINK REL=StyleSheet HREF="/css/clientes/clientesEditar.css" TYPE="text/css" MEDIA=screen>
 {{#each clientes}}
<form action="/clientes/editar/{{idClientes}}" method="POST" id="f1">
     <p id="p">Editar Clientes</p>
    <div id="contenedor_1">
        <div id="Cedula">
            <label id="">Cédula:</label>
            <input type="text" name="username" id="cedula" value="{{username}}">
        </div>
        <div id="CODIGO">
            <label id="codigos">Nombres:</label>
            <input type="text" name="Nombres" id="codigo" value="{{Nombres}}">
        </div>
        <div id="PRODUCTO">
            <label id="producto">Dirección :</label>
            <input type="text" name="Direccion" id="NombreProducto" value="{{Direccion}}">
        </div>
        <div id="CANTIDAD">
            <label id="cantidad">Teléfono:</label>
            <input type="text" name="telefono" id="Cantidad" value="{{telefono}}">
        </div>
        <div id="PRECIO">
            <label id="precios">Celular:</label>
            <input type="text" name="Celular" id="precio" value="0{{Celular}}">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
    </div>
</form>
{{/each}}