<link rel="stylesheet" href="/css/compras/compra.css">
<form action="/Compras/eleccion/{{user.idClientes}}" method="POST">
    <div id="N°">
        {{#each ids}}
        <label id="">Compra Producto N°<input type="text" name="idListaProductos" id="idListaProductos" readonly
                value="{{'MAX(idListaProductos)'}}"></label>
        {{/each}}
    </div>
    <div id="contenedor">
        {{#each producto}}
        <div id="Nombres">
            <label id="">Producto</label>
            <input id="id" type="text" name="id" value="{{idProductoEntradas}}"readonly></input>
            <input type="text" name="NombreProducto" id="nombres" value="{{NombreProducto}}" readonly>
        </div>
        <div id="Cantidades">
            <div id="cantidad">
                <label id="cn">Cantidad:</label>
                <input type="text" name="Cantidad" id="Cantidad" readonly>
                <button type="button" onclick="formatos.subir()" id="suma">+</button>
                <button type="button" onclick="formatos.bajar()" id="resta">-</button>
            </div>
            <div id="Unidades">
                <label id="">Unidad:</label>
                <input type="text" name="UnidadMedida" id="Unidad" value="{{cantidadVenta}}" readonly>
            </div>
            <div id="cantidadVentas">
                <label id="cu">Cantidad Unidad:</label>
                <input type="text" name="cantidadVenta" id="cantidadVenta" value="{{productoCantidad}}" readonly>
            </div>
            <input type="text" name="productoCantidad" id="productoCantidad" readonly>
        </div>
        <div id="Precios">
            <label id="pu">Precio de Unidad:</label>
            <input type="text" name="Precio" id="Precio" readonly>
        </div>
        <div>
            <input type="text" id="precioCambio" value="{{precioVenta}}" readonly>
        </div>
        <div id="caducidades">
            <label id="fc">Fecha de Caducidad:</label>
            <input type="text" name="FechaCadusidad" id="caducidad" value="{{FechaCadusidad}}" readonly>
        </div>
        <div id="boton">
            <button type="submit" id="comprar">Comprar</button>
        </div>
        {{/each}}
</form>
</div>
<script src="/js/eleccionCompra.js"></script>