<link rel="stylesheet" href="">
<form action="/tipoDocumentacion/editar/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        <div id="tarjeta">
            <div id="idTipoDocumento">
                <p>{{idTipoDocumento}}</p>
            </div>
            <div id="nombreTipoDocumento">
                <p>{{nombreTipoDocumento}}</p>
            </div>
            <div id="codigoTipoDocumento">
                <p>{{codigoTipoDocumento}}</p>
            </div>
            <div id="estadoTipoDocumento">
                <p>{{estadoTipoDocumento}}</p>
            </div>
        </div>
    </div>
</div>