<link rel="stylesheet" href="/css/perfil/cliente.css">
{{>navigationUser parameter=client.userName}}

<div id="container">
    <form action="/perfil/update/{{client.id}}" method="post" id="form-data" >
        <h4 id="title">Mis Datos</h4>

        <div id="grid">
            <div id="form-group">
                <label for="typeDni">Tipo de identificación:</label>
                <select name="typeDni" id="typeDni" value="{{client.typeDni}}">
                    <option value="Cedula">Cedula</option>
                    <option value="RUC">RUC</option>
                    <option value="Pasaporte">Pasaporte</option>
                </select>
            </div>
            <div id="form-group">
                <label for="name">Identificación:</label>
                <input type="text" id="form-input" name="dni" value="{{client.dni}}">
            </div>
            <div id="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="form-input" name="name" value="{{client.name}}">
            </div>
            <div id="form-group">
                <label for="lastName">Apellido:</label>
                <input type="text" id="form-input" name="lastName" value="{{client.lastName}}">
            </div>
            <div id="form-group">
                <label for="email">Email:</label>
                <input type="text" id="form-input" name="email" value="{{client.email}}" readonly>
            </div>
            <div id="form-group">
                <label for="typeDni">Celular:</label>
                <input type="text" id="form-input" name="phone" value="{{client.phone}}">
            </div>
        </div>

        <button type="submit" id="boton">Guardar</button>
    </form>

    
</div>


