<link rel="stylesheet" href="">
<form action="/tipoIdentificacion/editar/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        <div id="tarjeta">
            <div id="idTipoIdentificacion">
                <p>{{idTipoIdentificacion}}</p>
            </div>
            <div id="nombreTipoIdentificacion">
                <p>{{nombreTipoIdentificacion}}</p>
            </div>
            <div id="codigoTipoItentificacion">
                <p>{{codigoTipoItentificacion}}</p>
            </div>
            <div id="estadoTipoIdentificacion">
                <p>{{estadoTipoIdentificacion}}</p>
            </div>
        </div>
    </div>
</div>