<LINK REL=StyleSheet HREF="/css/tienda/tiendaLista.css" TYPE="text/css" MEDIA=screen>
<div id="usuario">
    <img src="/img/Tienda/usuario/{{user.imagenDueñoTienda}}"></img>
    <div id="boton">
        <a href="/perfil/lista/{{user.idDueñoTienda}}"><button type="button">{{user.usernameDueñoTienda}}</button></a>
    </div>
</div>
<form action="/tienda/lista/{{user.idDueñoTienda}}">
    <div id="contenedor">
        {{#each tiendas}}
        <div id="nombreNegocio">
            <h1>{{nombreNegocio}}</h1>
        </div>
        <div id="RUC">
            <label id="Rucs">RUC:</label>
            <input type="text" name="ruc" id="ruc" value="{{ruc}}" readonly>
        </div>
        <div id="DIRECCION">
            <label id="Direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" value="{{direccion}}" readonly>
        </div>
        <div id="CELULAR">
            <label id="Celular">Móvil:</label>
            <input type="number" name="celular" min="0" id="celular" value="{{celular}}" readonly>
        </div>
        <div id="botones">
            <div id="boton">
                <div id="boton1">
                    <a href="/tienda/editar/{{idTiendas}}"><button type="button" id="Editar"> Editar Datos </button></a>
                </div>
            </div>
            <div id="boton">
                <div id="boton2">
                    <a href="/proveedor/agregar/{{idTiendas}}"><button id="Agregar" type="button">Agregar
                            Proveedor</button></a>
                </div>
            </div>
        </div>
        <div id="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2372.308874614081!2d-78.50365769356631!3d-0.3767686909205783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1631581549639!5m2!1ses-419!2sec"
                width="320" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        {{else}}
        <div id="bienvenida">
            <p>
                ¿Aun no tienes informacion en el inventario? <br> O ¿ya lo tienes?<br>
                Da click en Iniciar.
            </p>
            <div id="boton">
                <a href="/tienda/agregar/{{user.idDueñoTienda}}"><button type="button">Iniciar</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</form>