<LINK REL=StyleSheet HREF="/css/tienda/tiendaEditar.css" TYPE="text/css" MEDIA=screen>
<div id="usuario">
    <img src="/img/usuario/{{user.imagenUsuario}}"></img>
    <div id="boton">
        <a href="/perfil/lista/{{user.idUsuarios}}"><button type="button">{{user.username}}</button></a>
    </div>
</div>
<div id="contenedor">
    <div id="DatoNegocio">
        <p>Datos del Negocio</p> 
    </div>
    {{#each tienda}}
    <form action="/tienda/editar/{{idTiendas}}" method="POST">
        <div id="NombreNegocio">
            <label id="Nombre">Nombre:</label>
            <input type="text" name="nombreNegocio" id="nombreNegocio" value="{{nombreNegocio}}">
        </div>
        <div id="RUC">
            <label id="RUCs">RUC:</label>
            <input type="text" name="ruc" id="ruc" value="{{ruc}}">
        </div>
        <div id="DIRECCION">
            <label id="Direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" value="{{direccion}}">
        </div>
        <div id="Contactos">
            <p id="contactos">Contactos</p>
        </div>
        <div id="CELULAR">
            <label id="celular">Celular:</label>
            <input type="text" name="celular" min="0" id="Celular" value="{{celular}}">
        </div>
        <div id="TELEFONO">
            <label id="telefonos">Teléfono:</label>
            <input type="text" name="telefono" min="0" id="Telefonos" value="{{telefono}}">
        </div>
        <div id="Fecha">
            <label>Fecha:</label>
            <input type="text" name="fechaCreacion" id="fechas" readonly>
        </div>
        <div id="boton">
            <button type="submit" id="guardar1">Guardar</button>
        </div>
    </form>
    {{/each}}
</div>