<link rel="stylesheet" href="/css/productos/productos.css">
<div id="navegacion">
    <div id="categorias">
        <a id="Tiendas" href="/tienda/lista"> Tiendas</a>
        {{#each tienda}}
        <a id="Consumibles" href="/productos/consumibles/{{idTiendas}}"> Consumibles</a>
        <a id="noConsumibles" href="/productos/noconsumibles/{{idTiendas}}"> No consumibles</a>
        <a id="Bebidas" href="/productos/bebidas/{{idTiendas}}"> Bebidas </a>
        {{/each}}
    </div>
</div>
<div id="lista">
    <table id="tabla">
        <tr>
            <td id="nombres">
                <div id="NOMBRES">
                    {{#each NombreLista}}
                    <input type="text" name="nombreLista" id="nombresListas" value="{{nombreLista}}" readonly>
                    {{/each}}
                </div>
                <div id="LISTa">
                    <p id="nombre">Productos</p>
                </div>
            </td>
            <td id="nombres">
                <input id="precio" value="Precios"></input>
            </td>
        </tr>
        {{#each lista}}
        <tr>
            <td id="Producto">{{NombreProducto }}</td>
            <td id="precio">${{Precio}}</td>
            {{/each}}
        </tr>
    </table>
</div>
<div id="boton">
    <button id="carrito" onclick="a.aparecerLista()"><img src="/img/carrito.png" id="img"></button>
    <button id="carrito1" onclick="a.esconderLista()"><img src="/img/carrito.png" id="img"></button>
</div>
<div id="contenido">
    <!--card--->
    <form action="/producto/noconsumibles/{{user.id}}" method="POST" id="tienda">
    <div id="nombreLista">
            <div id="GuardarLista">
                <label id="listaNombre">Nombre de Lista:</label>
                <input type="text" name="nombreLista" id="NombreLista" value="Lista {{user.Nombres}}" readonly>
                <button type="submit" id="btones"><img src="/img/guardar.png" id="guardar"></button>
            </div>
        </div>
        <div class="container p-4">
            <div class="row">
                {{#each bebidas}}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <input type="text" value="Producto #{{idProductos}}" readonly id="cantidad">
                            <input type="text" value="{{NombreProducto}}" readonly id="cantidad">
                            <input type="text" value="Cant. x {{unidadVeneta}}" readonly id="cantidad">
                            <input type="text" value="{{cantidadVenta}}" readonly id="cantidad">
                            <input type="text" value="Stock: {{productoCantidad}}" readonly id="cantidad">
                            <input type="text" value="Total a pagar: {{precioVenta}}$" readonly id="cantidad">
                            <button id="comprar"><a href="/Compras/eleccion/{{idProductos}}">COMPRAR</a></button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="mover">
            {{#each tienda}}
            <button id="ver"><a href="/Compra/listaCompleta/{{idTiendas}}" id="letras">Ver más productos</a></button>
            {{/each}}
        </div>
    </form>
</div>

<script src="/js/lista.js"></script>